/* Обнуление стандартных стилей браузера */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  font-family:sans-serif;
  transition: 0.5s ease-in-out;
  color: #2D2112;
}

/* Исправление стандартных стилей браузера */
body {
  line-height: 1;
  background-color: #FFF3E4;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



/* Стили для bayan */
.bayan {
    max-width: 768px;
    margin: 32px auto;
}



.bayan-item {
    border-top: #AFA394 solid;
    margin: 0 16px;
    
}

.bayan-input {
    width: 0;
    height: 0;
    appearance: none;
    position: absolute;
}

.bayan-label {
    cursor: pointer;
    padding: 16px;
    display: block;
}

.bayan-header {
    width: 100%;
    display: flex;
    justify-content:space-between;
    margin-top: 16px;
}

.bayan-title {
    font-size: 24px;
    margin: 4px 0;
    font-weight:bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bayan-icon {
    width: 32px;
    height: 32px;
    opacity: 0;
}
.bayan:hover .bayan-icon {
    opacity: 1;
}


.bayan-img {
    width: 0px;
    margin: 0 auto;

}
.bayan-input:checked ~ .bayan-label > .bayan-img {
    width: 50%;
    margin-top: 8px;
}
.bayan-label:hover > .bayan-img {
    width: 50%;
    margin-top: 8px;
}

.bayan-img > img{
    width: 100%;
}

.bayan-input:checked ~ .bayan-label > .bayan-header > .bayan-icon {
    transform: rotate(45deg);
}

